# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE directories
.idea/
.vscode/

# For outputs_light, ignore only the large binary files
/outputs_light/**/*.bin
/ablation_study_output/**/*.bin

# Other output/data directories to ignore for now
/proc_data/
/runs/
/trex_output_ablation_size_sub1e2/
/data/
/pretrained_models/

# Environment
.env
venv/
env/

# OS-specific
.DS_Store
